 @model UNIManagement.Entities.ViewModel.ClientViewModel;
 @using System.Net

<div class="text-start">
    <p>ClientId : @Model.ClientId</p>
    <p>Name : @Model.Name</p>
    <p>Number : @Model.Number</p>
    <p>Email : @Model.Email</p>
    <p>BirthDate : @Model.BirthDate</p>
    <p>Address : @Model.Address</p>
    <p>BusinessName : @Model.BusinessName</p>
    <p>BusinessNumber : @Model.BusinessNumber</p>
    <p>Category : @Model.Category</p>
    <p>AdditionalInformation : <img src="~/Client/AdditionalInformation/@Model.ClientId.@Model.AdditionInformation" /> </p>
    <p>RefferenceDetails :  @Html.Raw(WebUtility.HtmlDecode(Model.RefferenceDetails)) </p>
  

    @*  <p>TokenNumber : @Model.TokenNumber</p>
    <p>ProjectId : @Model.ProjectId</p>
    <p>ProjectName : @Model.ProjectName</p>
    <p>ClientId : @Model.ClientId</p>
    <p>EmployeeId : @Model.EmployeeId</p>
    <p>Employee Name :  @Model.EmployeeName </p>
    <p>Document : @Model.Document</p>
    <p>TaskAssignDate : @Model.TaskAssignDate</p>
    <p>DueDate : @Model.DueDate</p>
    <p>Status : @Model.Status</p>
    <p>Description: @Html.Raw(WebUtility.HtmlDecode(Model.Description)) </p> *@

</div>
@*

Helooo *@