 @model UNIManagement.Entities.ViewModel.ClientViewModel;
 @using System.Net

<div class="text-start">
    <p>ClientId : @Model.ClientId</p>
    <p>Name : @Model.Name</p>
    <p>Number : @Model.Number</p>
    <p>Email : @Model.Email</p>
    <p>BirthDate : @Model.BirthDate</p>
    <p>Address : @Model.Address</p>
    <p>BusinessName : @Model.BusinessName</p>
    <p>BusinessNumber : @Model.BusinessNumber</p>
    <p>Category : @Model.Category</p>
    <p>AdditionalInformation : <img src="~/Client/AdditionalInformation/@Model.ClientId.@Model.AdditionInformation" /> </p>
    <p>RefferenceDetails :  @Html.Raw(WebUtility.HtmlDecode(Model.RefferenceDetails)) </p>
</div>
