 @model UNIManagement.Entities.ViewModel.DomainViewModel;
 @using System.Net

<div class="text-start">
    <p>DomainId : @Model.DomainId</p>
    <p>DomainName : @Model.Name</p>
    <p>Url : @Model.Url</p>
    <p>PurchaseDate : @Model.PurchaseDate</p>
    <p>RenewalDuration : @Model.RenewDuration</p>
    <p>Platform : @Html.Raw(WebUtility.HtmlDecode(Model.Platform)) </p> 
    <p>CredentialDetails :  @Html.Raw(WebUtility.HtmlDecode(Model.CredentialDetails))</p>
    <p>IsWorkShopPurchased : @Model.IsWorkshopPurchased</p>
    <p>WorkShopPurchasedDate : @Model.WorkspacePurchaseDate </p>
    <p>WorkShopRenewalDuration : @Model.WorkshpaceRenewDuration</p>
    <p>IsActive : @Model.IsActive</p>
</div>
